#content {
  margin: 175px 15px 15px 15px;
}

.navbar-right {
  margin-right: 15px;
}

#about-logo {
  margin: 0 auto;
  width: 250px;
}

#about-text {
  margin: 0 auto;
  text-align: center;
}

.modal-header,
.modal-footer {
  background-color: #7a0019;
  color: #fec503;
  text-align: center;
}

.number-overlay,
.difference-overlay {
  padding: 2px;
  position: absolute;
}

.number-input,
.difference-input {
  position: static;
  box-shadow: none;
  font-size: 14px;
  border: 1px solid #000;
}

.row {
  max-width: 750px;
  padding-right: 105px;
  /*min-width: 545px;*/
}

.shaded-row,
.shaded-row .number-input {
  background-color: #F5F5DC;
}

.format-node {
  display: inline-block;
  margin: 0;
}

.format-node > span,
.format-node > input,
.format-node > div {
    width: 100px;
}

.row-label {
  position:relative;
  display: inline-block;
  float: none;
  font-weight: 700;
  word-wrap: break-word;
}

.input-columns {
  display: inline-block;
  float: right;
  margin-right: -105px;
}

.mobile {
  float: right;
}

.dropdown {
  float: right;
  margin-right: -105px;
  width: 115px;
}

.plot-with-key > .shiny-plot-output {
  width: 695px !important;
}

.shiny-plot-output {
  width: 550px !important;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (max-width:320px) {
  
}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:480px) {
  
  
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {
  .plot-with-key > .shiny-plot-output {
    width: 395px !important;
  }
  .shiny-plot-output {
    width: 250px !important;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
  .desktop {
    display: none;
  }
}

@media (min-width:801px) {
  .mobile {
    display: none;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
  
  
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {
  
}